<h1>Hello MVC</h1>
<p>This is my first page</p>
<h2>Our products</h2>
<ul>
    {{#each products}}
    <li>
        <a href='./products/{{id}}'"> {{name}} ($ {{price}})</a>
    </li>
    {{/each}}
</ul>
